<!doctype html>
<html>
	<head>
		<title>{% block title %}Welcome!{% endblock %}</title>
		{% include 'MyRecipesBundle:Default:header.html.twig' %}
		<link rel="stylesheet" type="text/css" href="/public/css/uikit.css"/>
		<link rel="stylesheet" type="text/css" href="/public/css/dataTables.uikit.min.css"/>
		<link rel="stylesheet" type="text/css" href="/public/css/components/dataTables.uikit.min.css"/>
		

	</head>
	<body data-feedly-mini="yes">
		<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
		{% include 'MyRecipesBundle:Default:navBar.html.twig' %}
		{% block body %} {% include 'MyRecipesBundle:Default:indexCuerpo.html.twig' %} {% endblock %}
		{{ render(controller('MyRecipesBundle:Recipe:lastRecipes')) }}
		{% block footer %}{% include 'MyRecipesBundle:Default:footer.html.twig' %}{% endblock %}
		</div>
		{% block javascript %}
			{% javascripts 'public/js/*' %}
				<script type="text/javascript" src="{{ asset_url}}"></script>
			{% endjavascripts %}
			{% javascripts 'public/js/components/*' %}
				<script type="text/javascript" src="{{ asset_url}}"></script>
			{% endjavascripts %}
		{% endblock %}
	</body>
</html>