<!doctype html>
<html>
	<head>
		{% include 'MyRecipesBundle:Default:header.html.twig' %}
		<link rel="stylesheet" type="text/css" href="{{ asset('public/css/main.css')}}"/>

	</head>
	<body>
	
		{% block body %} {{ bienvenida }}{% endblock %}
		{{ render(controller('MyRecipesBundle:Recipe:lastRecipes')) }}
		{% block footer %}{% endblock %}
		{% block javascript %}
			{% javascripts 'public/js/*' filter='yui_js' %}
				<script type="text/javascript" src="{{ asset_url}}"></script>
			{% endjavascripts %}
		{% endblock %}
	</body>
</html>