<div class="uk-grid" data-uk-grid-margin="">
	<div class="uk-width-medium-1-1 uk-row-first">
		<div class="uk-panel uk-panel-box uk-text-center">
			e-mail de contacto <a href="mailto:{{ contact_email }}">{{ contact_email }}</a> 
        </div>
    </div>
</div>