
            {% include 'MyRecipesBundle:Default:indexCabecera.html.twig' %}

            {{ render(controller('MyRecipesBundle:Categoria:showAll', { formato: "portada"})) }}

            <hr class="uk-grid-divider">

            {{ render(controller('MyRecipesBundle:Elemento:showAll', { formato: "portada",categoria: "all"})) }}

            <hr class="uk-grid-divider">

            <div class="uk-grid" data-uk-grid-margin="">
                <div class="uk-width-medium-1-1 uk-row-first">
                    <div class="uk-panel uk-panel-box uk-text-center">
                        <p><strong>Descubre ofertas y lugares increibles.</strong> Registrate para poder acceder a ellas. <a class="uk-button uk-button-primary uk-margin-left"  href="{{ path('my_recipes_usuario_register') }}">Registrarse</a></p>
                    </div>
                </div>
            </div>

            